<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Mobify Ranker</title>
</head>
<body>
  <%- include('./header.ejs') %>

<div id="hero">
  <div class="container">

  <div class="hero">

    <div class="hero-left">
      <h1>Welcome to <span>Mobify</span> </h1>

    <p>Join Our community and start sharing the beautiful ideas in your head with anime enthusiasts around the <span style="color: #ee6c4d;">world</span></p>

      <button class="hero-btn">Explore</button>
    </div>
    
    <div class="her-img">
      <img src="/main-deku.webp" alt="">
    </div>
  </div>

  </div>

  
  </div>

<hr>

<section id="trendy">
  <h3>New & Trendy</h3>
  <hr>

  <div class="container">
  <div class="new">
    <div class="vinland">
      <img src="/thorrfinn-main.jpg" alt="">
     
      <div class="para">
        <div class="inside-para">
          <p>History -1Month Ago</p>
          <h3>Vinland Saga</h3>
          <p>Vinland Saga is an epic historical anime that follows the journey of a young Viking warrior, blending action , adventure and complex characters is a riverting norsetale</p>
        </div>
       
      </div>

    </div>


    <div class="vinland">
      <div class="para">
        <div class="inside-para">
          <p>Adventure -1Month Ago</p>
          <h3>One Piece</h3>
          <p>Experience the captivating world of 'One piece', where a young pirate named Monkey .D. Luffy takes on the seas with his crew in search for the one piece</p>
        </div>
       
      </div>


      <img src="/one.jpg" alt="">
    </div>
  </div>

</div>
</section>


<section class="now">
  <div>
    <h3>Now Trending</h3>
  </div>
  <div class="container">
  <div class="hot-flex">

    <div class="hot">
      <img src="/mashle.jpg" alt="">
      <p>Fantasy <%= locals.release %> month Ago</p>
  
      <div class="hot-div">
        <h3>Masshuru</h3>
      <p class="hot-para">
        Set in a magical world in which an individual's position within society is defined by their power and skill with magic
      </p>
      
      </div>
      
    </div>

    <div class="hot">
      <img src="/jigoraku.jpg" alt="">
      <p>Fantasy <%= locals.release %> month Ago</p>
  
      <div class="hot-div">
        <h3>Jigoraku</h3>
      <p class="hot-para">
        Set in a magical world in which an individual's position within society is defined by their power and skill with magic
      </p>
      
      </div>
      
    </div>

    <div class="hot">
      <img src="/jjk.jpg" alt="">
      <p>Fantasy <%= locals.release %> month Ago</p>
  
      <div class="hot-div">
        <h3>Jujutsu Kaisen</h3>
      <p class="hot-para">
        Set in a magical world in which an individual's position within society is defined by their power and skill with magic
      </p>
      
      </div>
      
    </div>
  </div>

  

</div>
</section>

<section id="ranker">
  
  <div class="container">
  <div class="ranker-flex">
    <div class="ranker-left">
      <h2>Best Anime Series of All Time, Ranked</h2>
      <img src="/freedom.jpg" alt="">
    </div>

    <div class="ranker-right">
      <h3>Related</h3>

      <div>
        <img src="/tokyo.jpg" alt="">
        <h3>Neon Genesis, Evangilions original 17 angels explained</h3>
      </div>

      <div>
        <img src="/naruto.jpg" alt="">
        <h3>Neon Genesis, Evangilions original 17 angels explained</h3>
      </div>

      <div>
        <img src="/bleach.jpg" alt="">
        <h3>Neon Genesis, Evangilions original 17 angels explained</h3>
      </div>
    </div>
  </div>
    <hr>

  </div>
</section>

<section class="blog-sec">
  <h3>Blog</h3>
<div class="container">
  <div class="over-flex">
  <div class="blog-flex-1">
    <div class="left">
      <img class="aot" src="/aot.jpg" alt="">

      <p>1 month ago</p>

      <div class="blog-para1">
       <h4 class="Attack">Attack on Titans</h4>

       <p> Set in a post-apocalyptic world where the remains of humanity live behind walls protecting them from giant humanoid Titans, Attack on Titan follows protagonist Eren Yeager, along with friends Mikasa Ackerman and Armin Arlert.</p>
      </div>
  
    </div>


    <div class="blog-right">
      <div>
        <img src="/gakill.jpg" alt="">
        <h4 class="wi">Akame Ga kill: Season finale</h4>
      </div>

      <div>
        <img src="/revengers.jpg" alt="">
        <h4 class="wi">Akame Ga kill: Season finale</h4>
      </div>

      <div>
        <img src="/son.jpg" alt="">
        <h4 class="wi">Akame Ga kill: Season finale</h4>
      </div>

      <div>
        <img src="/rendering.jpg" alt="">
        <h4 class="wi">Akame Ga kill: Season finale</h4>
      </div>
    </div>
  </div>


  <div class="right">
    <div>
      <img src="/gakill.jpg" alt="">
      <h4 class="wi">Akame Ga kill: Season finale</h4>
    </div>

    <div>
      <img src="/revengers.jpg" alt="">
      <h4 class="wi">Akame Ga kill: Season finale</h4>
    </div>

    <div>
      <img src="/son.jpg" alt="">
      <h4 class="wi">Akame Ga kill: Season finale</h4>
    </div>

    <div>
      <img src="/rendering.jpg" alt="">
      <h4 class="wi">Akame Ga kill: Season finale</h4>
    </div>
  </div>

</div>

</div>
</section>

   <section class="tweet-section">
    <h1 class="blog-head">AnimePost</h1>
    <a id="newPostBtn" href="/post">New Post</a>
   
     <div class="container">
     
      <ul class="blog-list">
        <% post.forEach(posts => {%>
          <li>
            <h2><%= posts.title %> </h2>
            <small><%= date %></small>
            <p class="post-cont"><%= posts.content %> </p>
            <small>By:<%=posts.author%></small>
            <div class="ed">
              <a class="edit" href="/edit/<%= posts.id %>">Edit</a>
              <a class="delete" href="/posts/delete/<%= posts.id %>">Delete</a>
            </div>
           
          </li>
         
       <% }) %> 
      </ul>
      
     </div>

  
       
  </section>
   
    
  
</body>
</html>


